#footer .fa,#footer h5,#footer h6{
   color: white;
   font-weight: 700;
}
#footer .fa{
    border-left: 10px;
}
#footer p,a{
    color: lightgrey;
    font-weight: 600;
}
#footer h8{
    color: lightgray;
    font-weight: 700;
}
#contact .square-button{
    font-size: 20px;
    background-color: deepskyblue;
    margin-left: 60px;
    color: white;
    text-align: justify;
    border: 1px solid blue;
    padding: 10px 25px;
    width: 200px;
    height: 50px;
    box-shadow: 2px 5px #004085;
    margin-top: 5px;
    
}
#elect{
    padding-top: 50px;
}
#contact{
    background-image: linear-gradient(110deg, deepskyblue 70%, #fefefe 30%);
    padding: 10px;
}
 #triangle-up {
     background-image:  linear-gradient(110deg, #fdcd3b 30%, deepskyblue 30%);
     margin: 20px;
/*      width: 100%;
*/      height: 500px;/*
      border-top: 0px solid red;
      border-left: 300px solid yellow;
      border-bottom: 200px solid green;
      border-right: 0px solid blue;*/
    }
    #expertise p{
        text-align: center;
    }
    #expertise h4{
        text-align: center;
        font-weight: 800;
    }   
    
#triangle-up .row,h5{
        font-weight: 700;
    }
    #carspan p,#carspan h3{
        color: blue;
    }
    #hover:hover img{
    height: 400px;
    width: 400px;
    }
    #carspan img{
        width: 400px;
    }
    .zoom img:hover{
        transform: scale(1.1);
        box-shadow:  1px 5px 10px 15px deepskyblue;
        z-index: 1;
    }
    .zoom img{
        height: 325px;
        width: 350px;
    }
    .zoom1 img:hover{
        transform: scale(1.1);
        box-shadow:  1px 5px 10px 15px deepskyblue;
        z-index: 1;
    }
    .zoom1 img{
        height: 325px;
        width: 150px;
    }

.carousel-indicators {
    bottom: -50px;
}
.carousel-control-prev, .carousel-control-next{
    bottom: -300px;
}
#projects h3{
    font-weight: 700;
    margin-left: 8%;
}
#projects p{
    margin-left: 8%;
}
#projects{
    background-color: #ffdf7e;
    padding-bottom: 10px;
    padding-top: 10px;
}
#projectimg img{
    width: 100%;
    height: 300px;
}
#projectimg:hover{
    font-weight: 600;
    transform: scale(1.1);
}
.card:hover{
    box-shadow: 1px 5px 10px 10px #fdcd3b;
    
}
#projectimg .text-box{
  position: absolute;
  bottom: 5px;
  right: 30px;
  left: 15px;
  background-color: #ffdf7e;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  width: 91.5%;
}
.card{
    background-color: #ffdf7e;
    
}
#rowzoom{
    color: #fdcd3b;
}
