/*body{
    background-color: #f7f8fa;
}*/
.mynav-logo{
    /* margin: 0px -15px; */
    height: 70px;
    width: 144px;
}
.mynav-brand{

}

.mynav{
    left: 0;
    right: 0;
    z-index: 120;
}
.mynav-links{
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 80%;
    z-index: 120;
}
.mynav .mynav-caret{
    display: none;
}
.navScolled{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 21px;
    background: rgb(99, 102, 106);
}
.mynav-links li,.mynav-brand{
    display: inline-block;
    padding: 0;
    margin: 1px 3px;
}
.mynav-links li .mynav-link{
    display: inline-block;
    border-top:2px solid transparent;
    padding: 22px 20px;
    transition: .5s;
    /*color: #fff;*/
    text-decoration: none;
}
.mynav-btn{
    display: inline-block;
    border-top:2px solid transparent;
    padding: 22px 20px;
    text-decoration: none;
}
.mynav-btn{
    display: none;
}
.mynav-links li .menu-options-multiple{
    position: absolute;
    right: 0;
    left: 0;
    border-bottom: 1px solid;
    opacity: 0;
    z-index: 5;
    margin-top: -1px;
    transition: .5s;
    padding: 3px 13px;
    background-color: #fff;
}

.mynav-links li .menu-options{
    position: absolute;
    background-color: #fff;
    padding: 2px 20px 2px 2px;
    text-align: left;
    z-index: 5;
    opacity: 0;
    border-bottom: 1px solid;
    transition: .5s;
    min-width: 200px;
}
.menu-options-multiple .mymenu{
    padding: 10px 5px;
    float: left;
    width: 25%;
}

.menu-option-title{
    font-weight: 400;
    transition: .2s;
    padding-left: 20px;
    width: 75%;
    border-bottom: 1px solid;
}
.menu-option-title:hover{
    color:#fff;
    background: #000;
}
.menu-option-body{

}
.menu-option-body a{
    display: block;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
}
.menu-option-body a:hover{
    transition: .3s;
    color: blue !imporntant;
}
/*Response ive CSS*/
@media(max-width: 768px){
    .mynav .mynav-btn{
        display: inline-block;
    }
    .mynav .mynav-links{
        position: fixed;
        right: 0;
        top: 73px;
        overflow-x: auto;
        bottom: 0;
        background-color: rgba(0,0,0,0.9);
        overflow-x: hidden;
        width: 0;
        /*width: 70%;*/
        transition: .5s;
    }
    .mynav .mynav-links li{
        display: block;
        border: none;
    }
    .mynav .mynav-links li a{
        display: block;
        border: none;
    }
    .mynav .mynav-links .mynav-link{
        color: #fff;
        font-weight: 700;
    }
    .mynav .mynav-links li .menu-option-body a{
        color: #f7f8fa;
        margin-left: 45px;
    }
    .mynav-links li .menu-options-multiple{
        opacity: 1;
        position: relative;
        height: 0px;
        /*height: 600px;*/
        background-color: #303030;
        overflow: hidden;
        padding: 0;
    }
    .mynav-links li .menu-options-multiple .mymenu{
        width: 100%;
    }
    .mynav-links li .menu-options{
        opacity: 1;
        position: relative;
        height: 0px;
        /*height: 125px;*/
        background-color: #303030;
        overflow: hidden;
        padding: 0;
    }
    .mynav .mynav-caret{
        display: inline;
    }
    .mynav .menu-option-title{
        border-bottom: none;
        margin-left: 20px;
        color: #999;
        text-transform: uppercase;
    }
    #navlinksA:hover, #navlinksA:focus, #navlinksA:active{
        color: blue;
    }

}
@media(max-width: 576px){

}
