/*body{
        background-color: #f8f9fe;
}*/
.service-container{
    /* background-color: #fff;
  padding: 0px;
  height: 250px;
  overflow: hidden;*/
    padding: 0px;
    height: 250px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.service-img{
    height: 250px;
    width: 100%;
    background-color: #fff;
    filter: grayscale(0.1) brightness(79%);
}
.service-title{
    position: absolute;
    width: 100%;
    /* bottom: 76px; */
    margin-top: -40px;
    transition: .5s;
    background: rgba(0,0,0,0.75);
    color: #fff;
}
.service-title h3{    
    padding-left: 2px;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 8px;
    letter-spacing: 1.2px;
}
.service-cover{
    position: absolute;
    width: 0%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    width: 100%;
    /* width: 0; */
    display: none;
    color: #fff;
    left: 0;
    background: rgba(0,0,0,0.75);
    left: -100%;
    transition: .5s;
}
.service-cover .service-cover-title h3{
    text-align: center;
    padding: 20px 5px 5px;
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.2px;
}
.service-cover-text{
    text-align: left;
    padding-left: 20px;
    font-weight: 200;
}
.service-cover-link{
    position: absolute;
    bottom: 0;
    width: 80%;
    /* width: 0; */
    /* margin-right: 10%; */
    /* overflow: hidden; */
    right: -080%; 
    /*right: 0;*/
    padding: 15px;
    text-align: center;
    /* padding: 7px; */
    display: none;
    color: #0b97cc;
    transition: .5s;
    background-color: #f8f9fe;
    border: 1px solid;
    margin-bottom: 12px;
}
.service-container:nth-child(4){
    display: none;
}

.generic-container{
    padding: 51px 36px !important;
}
.emphase-introduction{
    padding: 0 40px;   
}

/*------------CONTACT SECTION-----------*/
.container-contact{

}
.container-contact h2{
    margin-bottom: 20px;
    margin-top: 23px;
    font-weight: 700;
    font-size: 1.6rem;
    color: #05063c;
}
.container-contact h4{
    font-weight: 500;
}
.fancy-background{
    margin-left: -36px;
    margin-right: -36px;
    padding-top: 20px;
    padding-left: 36px;
    background: linear-gradient(110deg, #e1e1e1 80%, #f7f8fa 20%);
    padding-bottom: 10px;
}
.custom-heading{
    margin-bottom: 20px;
    margin-top: 23px;
    font-weight: 700;
    font-size: 1.6rem;
    color: #05063c;
}
.fancy-button{
    display: block; 
    width: 80%;
    margin: 15px 10% !important;
    padding: 20px;
    border: 1px solid #0b97cc;
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.5);
    box-sizing: border-box;
    border-radius: 0;
    background-color: #0b97cc;
    color: #fff !important;
    font-weight: 700;
    transition: .5s;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
    letter-spacing: 0.5px;
}
.fancy-button:hover{
    background-color: #087AA3;
}

/*--------------------------------------*/

/*---------Project Section CSS----------*/
 .custom-link{
        padding: 0;
        margin-top: 4px;
        transition: .5s;
        margin-bottom: 4px;
        border-radius: 0;
    }
    .custom-link:hover{
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        transform: scaleY(1.1);
    }
    .card{
        width: 99%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        padding: 0;
        border-radius: 0;
        border: none;
    }
    .card .card-img{
        width: 100%;
        height: 200px;
        border-radius: 0;
    }
    .card .card-body{
        min-height: 115px;
        padding: 5px;
    }
    .card .card-body .card-text{

    }
    .custom-card-link{
        font-size: 10pt;
        text-align: center;
        color: #0b97cc;
        position: absolute;
        /*border: 1px solid;*/
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
    }
    /*--------------------------------------*/
@media(max-width: 768px){
    .service-conatiner{
        width: 46%;
        /* float: left; */
        width: 46% !important;
        max-width: 46% !important;
        margin-left: 2%;
        margin-right: 2%;
    }
    .service-container:nth-child(4){
        display: block;
    }
}
@media(max-width: 576px){
    /*---------------Contact Section-----------*/


    .fancy-background{
        background: #e1e1e1;
    }

    /*-----------------------------------------*/
}