body{
    background-color: #f7f8fa;
}
.mynav-logo{
    /*margin: 0px -15px;*/
    height: 70px;
}
.mynav-brand{

}
a{
    color : #222;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.mynav{
    z-index: 120;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 21px;
    background-color: rgba(0,0,0,0.4);
}
.mynav-links{
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 80%;
    z-index: 120;
}
.mynav .mynav-caret{
    display: none;
}
.navScolled{
    background: rgb(99, 102, 106);
}
.mynav-links li,.mynav-brand{
    display: inline-block;
    padding: 0;
    margin: 1px 3px;
}
.mynav-links li .mynav-link{
    display: inline-block;
    border-top: 5px solid transparent;
    padding: 22px 20px;
    transition: .5s;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
.mynav-btn{
    display: inline-block;
    border-top:2px solid transparent;
    padding: 22px 20px;
    text-decoration: none;
}
.mynav-btn{
    display: none;
}
.mynav-links li .menu-options-multiple{
    position: absolute;
    right: 0;
    left: 0;
    border-bottom: 1px solid;
    opacity: 0;
    z-index: 5;
    height: 176px;
    height: 0px;
    margin-top: -1px;
    /*transition: .5s;*/
    padding: 3px 13px;
    background-color: #fff;
}

.mynav-links li .menu-options{
    position: absolute;
    background-color: #fff;
    padding: 2px 20px 2px 2px;
    text-align: left;
    z-index: 5;
    opacity: 0;
    border-bottom: 1px solid;
    /*transition: .5s;*/
    min-width: 220px;
}
.menu-options-multiple .mymenu{
    padding: 10px 5px;
    float: left;
    width: 25%;
}

.menu-option-title{
    font-weight: 400;
    transition: .2s;
    padding-left: 20px;
    display: block;
    color: #333;
    padding-top: 7px;
    width: 75%;
    border-radius: 5px 4px 0 0;
    border-bottom: 1px solid;
}
.menu-option-title:hover{
    color:#fff;
    background: #000;
}
.menu-option-body{

}
.menu-option-body a{
    display: block;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
}
.menu-option-body a:hover{
    transition: .3s;
    color: blue!imporntant;
}

section{
    padding: 20px 10px;
    margin-top: 11px;
    min-height: 600px;
}
.generic-custom-description{
    padding: 11px;
}
.generic-custom-description h2{
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: 700;
    margin-top: 10px;
    color: #05063c;
    letter-spacing: 0.2px;
}
.generic-custom-description p{
    line-height: 33.5px;
    text-align: justify;
    font-size: large;
}
.generic-custom-description p::first-letter{
    font-size: x-large;
    font-weight: 700;
    color: #05063c;
}
.generic-custom-img{
    background-color: white;
    height: 550px;
    margin-top: auto;
    margin-bottom: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#budgeting, #WorkProgress, #GanttChart{
    background: #f1f1f1;
} 

#budgeting .generic-custom-img{
    background-image: url(../../img/1.jpg);
}
#StoreManagement .generic-custom-img{
    background-image: url(../../img/store.jpg);
}
#WorkProgress .generic-custom-img{
    background-image: url(../../img/cumulative_work_progress.png);
}
#Reporting .generic-custom-img{
    background-image: url(../../img/Training.jpg);
}
#GanttChart .generic-custom-img{
    background-image: url(../../img/Gantt_chart.png);
}
#MaterialReconciliation .generic-custom-img{
    background-image: url(../../img/Material_reconciliation.png);
}


/*Response ive CSS*/
@media(max-width: 768px){
    .mynav .mynav-btn{
        display: inline-block;
    }
    .generic-custom-img{
        height: 550px;

    }
    .mynav .mynav-links{
        position: fixed;
        right: 0;
        /*right: -70%;*/
        top: 72px;
        overflow-x: auto;
        bottom: 0;
        background-color: rgba(0,0,0,0.9);
        overflow-x: hidden;
        /*width: 0;*/
        width: 70%;
        transition: .5s;
    }
    .mynav .mynav-links li{
        display: block;
        border: none;
    }
    .mynav .mynav-links li a{
        display: block;
        border: none;
    }
    .mynav .mynav-links .mynav-link{
        color: #fff;
        font-weight: 700;
    }
    .mynav .mynav-links li .menu-option-body a{
        color: #f7f8fa;
        margin-left: 45px;
    }
    .mynav-links li .menu-options-multiple{
        opacity: 1;
        position: relative;
        height: 0px;
        /*height: 600px;*/
        background-color: #303030;
        overflow: hidden;
        padding: 0;
    }
    .mynav-links li .menu-options-multiple .mymenu{
        width: 100%;
    }
    .mynav-links li .menu-options{
        opacity: 1;
        position: relative;
        height: 0px;
        /*height: 125px;*/
        background-color: #303030;
        overflow: hidden;
        padding: 0;
    }
    .mynav .mynav-caret{
        display: inline;
    }
    .mynav .menu-option-title{
        border-bottom: none;
        margin-left: 20px;
        color: #999;
        text-transform: uppercase;
    }
    .mynav-link:hover{
        color: #ff99ee;
    }


    /*
    ---------------------------------------
    -=====      Services CSS       =======-
    ---------------------------------------
    */

    #StoreManagement .generic-custom-img,
    #Reporting .generic-custom-img,
    #MaterialReconciliation .generic-custom-img{
        order: 1;
    }



}
@media(max-width: 576px){
    .generic-custom-img{
        height: 350px;
    }

}
/*
---------------------------------------------
                IMAGES SECTION
---------------------------------------------
*/

section.costing .generic-custom-img{
    background-image: url('../../img/1.jpg');

}
section.autocard .generic-custom-img{
    background-image: url('../../img/autocad.jpg');

}
section.design_survey .generic-custom-img{
    background-image: url('../../img/pbanner.jpg');

}
section.field_survey .generic-custom-img{
    background-image: url('../../img/photo_2019-06-03_17-14-58.jpg');

}
section.field_database .generic-custom-img{
    background-image: url('../../img/training3.jpeg.jpg');

}

/*fORM cSS*/
form .form-group{
    margin-bottom: 2px;
}
form .form-group label{
    margin-bottom: 3px;
    font-size: smaller;
}
form .form-group .input-group input,
form .form-group .input-group select,
form .form-group .input-group textarea{
    border-width: 0px 0px 1px 0px;
    border-radius: 0;
    box-shadow: none;
    padding: 5px;
    transition: .4s;
}
form .form-group .input-group input:focus, form .form-group .input-group select:focus{
    box-shadow: none;
}
form .form-group .input-group .input-group-prepend{

}

form .form-group .input-group .input-group-text{
    border-radius: 0;
    background: #fff;
    border-width: 0px 2px 1px 0px;
}
form .form-group .input-group .input-group-text .custom-svg{
    /*margin-left: 5px;*/
    display: inline;
    height: 22px;
    width: 27px;
}
form .form-group small{

}